h1, h2, input {
  font-family: monospace;
  text-align: center;
  align-content: center;
}

.header {
  font-family: monospace;
  text-align: left;
}

body {
  background-color: #bed3f4;
  align-items: center;
}

.gifs {
  border-style: solid;
  height: 250px;
  width: auto;
  align-content: space-between;
  align-items: center;
  vertical-align: middle;
  display: block;
  margin: 0 auto;
}
